* {
  margin: 0;
  box-sizing: border-box;
}

body {
  user-select: none;
}

.pp_container {
  width: 300px;
  height: 250px;
  position: relative;
  overflow: hidden;

}

.check {
  height: 250px;
  width: 300px;
  opacity: .5;
}

.pp_slide_1 .pp_bg {
  top: 0px;
  left: 0px;
}

.pp_slide_1 .pp_element_1 {
  top: 70px;
  left: 53px;
  opacity: 1;
  background-color: red;
  height: 65px;
  width: 85px;
}

.pp_slide_1 .pp_element_2 {
  top: 70px;
  right: 53px;
  opacity: 1;
  background-color: blue;
  height: 65px;
  width: 85px;
}

.pp_slide_2 .pp_bg {
  top: 0px;
  left: 0px;
}

.pp_slide_2 .pp_element_1 {
  top: 143px;
  left: 193px;
}

.pp_slide_2 .pp_element_2 {
  top: 0px;
  left: 0px;
}

.pp_slide_2 .pp_element_3 {
  top: 22px;
  left: 197px;
}

.pp_slide_2 .pp_element_4 {
  top: 129px;
  left: 143px;
}

.pp_slide_2 .pp_element_5 {
  top: 219px;
  left: 6px;
}

.pp_absolute {
  position: absolute;
}

.pp_hidden {
  display: none;
}

.pp_zeroOpacity {
  opacity: 0;
}