* {
  margin: 0;
  box-sizing: border-box;
}

body {
  user-select: none;
}

.pp_container {
  width: 300px;
  height: 250px;
  position: relative;
  overflow: hidden;

}

.check {
  height: 250px;
  width: 300px;
  opacity: .5;
}

.pp_slide_1 .pp_bg {
  top: 0px;
  left: 0px;
}
.pp_slide_1 .pp_teamOneLogo {
  top: 75px;
  left: 65px;
}

.pp_slide_1 .pp_teamTwoLogo {
  top: 75px;
  left: 170px;
}

.pp_slide_1 .pp_downBtn {
  top: 213px;
  left: 101px;
}

.pp_slide_1 .pp_teamOneScore {

  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 68px;
  font-size: 42px;
  font-family: sans-serif;
  left: 53px;
  opacity: 1;
  height: 53px;
  width: 85px;
}

.pp_slide_1 .pp_teamTwoScore {

  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 68px;
  font-size: 42px;
  font-family: sans-serif;
  left: 162px;
  height: 53px;
  width: 85px;
}


/* utility function */
.pp_absolute {
  position: absolute;
}

.pp_hidden {
  display: none;
}

.pp_zeroOpacity {
  opacity: 0;
}